*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: #eee;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: #ffffff;
    flex-wrap: wrap;
    /* float: left; */
}
/* For Float
.flex-container::after{
    content: "";
    display: block;
    clear: both;
} */
.parent{
    height: 100px;
    min-width: 200px;
}
.one{
    background: coral;
}
.two{
    background: crimson;
}
.three{
    background: darkolivegreen;
}
/* For nav menu */

nav{
    background: transparent;
    margin-top: 100px;
}
nav ul{
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
}
nav a:hover{
    background-color: #555;
}
/*  */
/* now media */
@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-end;
        /* justify-content: space-evenly; */
    }
    nav li{
        flex: 0 1 0;
    }
}