*{
    margin: 0;
    font-family: "Open Sans",Arial,sans-serif;
}
body{
    background: #eee;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: #ffffff;
    flex-wrap: wrap;
    /* float: left; */
}
/* For Float
.flex-container::after{
    content: "";
    display: block;
    clear: both;
} */
.parent{
    height: 100px;
    min-width: 200px;
}
.one{
    background: coral;
}
.two{
    background: crimson;
}
.three{
    background: darkolivegreen;
}
/* For nav menu */
.profiledp{
    background-image: url(images/image_1.jpg);
    background-size: cover;
    height: 768px;
    min-width: 200px;
}
.blacklayer{
  background-color:#000;
  opacity:0.5;
  height: 100%;
  width: 100%;
}
nav{
    /* background: transparent; */
    min-height: 100px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    /* justify-items: center; */
    flex: 1 ;
}
nav ul{
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
}
nav a:hover{
    color: gainsboro;
}
/*  */
/* now media */
@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-end;
        flex-grow: 3;
        /* justify-content: space-evenly; */
    }
    nav li{

    }
}
.brandname{
    flex-grow: 1;
}
.brandname a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 30px;
    color: #ffffff;
}
.brandname a:hover{
    color: white;
}